/******* Change Box Model ***************/
:root{
  --header-font: "Oswald";
  --body-font: "Roboto";
  --square-size: 30px;
  --card-background: rgb(174, 242, 242);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html{
    background-image:
      linear-gradient(45deg, #000 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(45deg, #000 25%, #fff 25%);    

    background-size:100px 100px;       

    background-position:0 0, 0 0, -50px -50px, 50px 50px;
}

body{
  background-color: white;
  font-family: var(--body-font);
  width: 90%;
  margin: 0 5%;
  border: 3px solid black;
}

header{
  font-family: var(--header-font);
}

a{
  text-decoration: none;
  color: black;
  padding: 10px;
}

button{
  padding: 10px;
  background-color: var(--card-background);
  border-radius: 1rem;
}

figure{
  margin: 0;
}

fieldset{
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  border: none;
}

form{
  width: 50%;
  justify-self: center;
  border: 3px outset gray;
  background-color: var(--card-background);
  border-radius: 1rem;
  text-align: center;
}

h1{
  padding-left: 10px;
}

h2{
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
}

input{
  padding: 8px;
  width: 100%;
  border-radius: .5rem;
}

input[type="submit" i]{
  border-radius: 1rem;
  padding: 6px 15px;
  margin-top: 10px;
  width: 50%;
  justify-self: center;
}

textarea{
  padding: 8px;
  width: 100%;
  border-radius: .5rem;
  border: 2px inset gray;
}

.signUp input:required:invalid, input:focus:invalid {
  background-color: rgba(255, 141, 141, 0.411);
}

p a{
  padding: 0;
}

.detail{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.description{
  font-weight: bold;
}

.display{
  position: absolute; 
}

.info{
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(255, 255, 255, 0.368);
  position: relative;
  width: 15rem;
  padding: 1rem;
  margin-bottom: 3rem;  
}

.info button{
  background-color: var(--card-background);
  margin: 10px 0;
  padding: 10px;
  font-size: larger;
}

.navigation{
  font-family: var(--header-font);
  background-color: black;
  color: white;
}

.navigation ul{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  color: white;
  padding: 0;
  width: 100%;
}

.navigation li{
  text-align: center;
  width: 100%;
  font-size: 100%;
  padding: 10px;
}

.navigation a{
  color: white;
}

.red {
  text-align: center;
  color: red;
}

.review{
  display: flex;
  flex-direction: column;
}

.review li{
  margin: 10px 0;
}

.siteName{
  margin: 1rem 0;
  font-size: xx-large;
}

.upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  text-align: center;
  justify-items: center;
}

.upgrades li{
  margin: 10px;
}

.upgrades li figure{
  width: 160px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--card-background);
  border: 3px solid black;
}

.upgrades li a{
  text-decoration: underline;
}

#tools {
  padding: 10px;
}

#inv-display {
  list-style: none;
  padding: 0;
}

#inv-display li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 3px solid black;
  padding: 10px;
  justify-items: center;
  text-align: center;
}

#inv-detail {
  list-style: none;
  padding: 0;
}

#inv-detail li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 3px solid black;
  padding: 10px;
  justify-items: center;
  text-align: center;
}

#inv-detail img{
  padding: 10px;
  width: 100%;
}

#inv-detail div{
  border: 2px solid black;
  border-radius: 5px;
}

#inv-detail button{
  margin: 10px;
  padding: 10px;
  width: 60%;
  font-size: 160%;
}

#inv-detail div ul{
  padding: 0;
  margin: 0 20px;
  border-top: 3px solid black;
}

#inv-detail div ul li{
  grid-template-columns: 1fr;
  padding: 3px;
  border: none;
}