<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/inv/add-class" method="post">
    <fieldset>
        <label>Classification Name: <input required type="text" name="classification_name" pattern="[A-Za-z0-9\s]+$"></label>
        <input type="submit" value="Input">
    </fieldset>
</form>